p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

mark {
  background-color: grey;
  color: red;
  padding: 2px;
  font-weight: bolder;
  border-radius: 5px;
}